<ion-view view-title="Shrink Ray Alpha" hide-back-button="true" ng-init="checkUser()">
        <ion-content>
            <ion-list>
              <ion-item ng-repeat="item in items">
                {{item.name}}
              </ion-item>
            </ion-list>
          <!-- TODO Profile -->
          <!-- <button ng-click="profile()" class="button button-outline button-assertive">Profile</button> -->
        </ion-content>
        <ion-tabs class="tabs-icon-only tabs-stable">
    </ion-tabs>
</ion-view>
